<div class="search-container">
    <mat-form-field appearance="outline" subscriptSizing="dynamic" class="custom-field">
        <mat-label>{{placeholder}}</mat-label>
        <input
            matInput
            [formControl]="searchTerm"
            placeholder="00000-000"
        />

        <mat-error *ngIf="searchTerm.hasError('pattern')">Digite um CEP válido</mat-error>

        
    </mat-form-field>
    
    <button matButton class="btn-custom" (click)="onSearch()" [disabled]="searchTerm.invalid">Buscar</button>
</div>
