
<mat-toolbar class="header-toolbar">
    <div class="logo-container">
        <img src="logo_sccon.svg" alt="Logo Sccon" height="40"/>
    </div>

    <div class="nav-container">
        <button matButton class="btn-custom" routerLink="/">Home</button>

        <button matButton class="btn-custom" [matMenuTriggerFor]="menu">Endereços</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item class="btn-custom-item" routerLink="/address">Buscar Endereços</button>
        </mat-menu>
    </div>
</mat-toolbar>
