.header-toolbar {
    background-color: #FFF !important;
    display: flex;
    align-items: center;
    padding: 6px 24px;
    height: 64px;
    gap: 100px;
    margin-bottom: 20px;

    .logo-container {
        display: flex;
        align-items: center;
        background-color: #FFF;
        border-radius: 6px;
        padding: 6px;

        img {
            object-fit: contain;
        }
    }

    .nav-container {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 12px;
        width: 100%;
        background-color: #132745;
        border-radius: 6px;
        max-height: 35px;
    }
}


.btn-custom {
    background-color: #D7DBDD !important;
    color: #132745 !important;
    border-radius: 6px !important;
    border: 1px solid #cacdce ;
    width: 200px;
    padding: 0 16px;
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: #cacdce !important;
    }
}

::ng-deep .custom-menu-panel {
    background-color: #132745 !important;
    border-radius: 6px !important;

    .btn-custom-item {
        color: #132745 !important;
        background-color: #D7DBDD !important;
        margin: 4px 8px;
        width: calc(100% - 16px);
        border-radius: 4px !important;
        font-weight: 600;

        &:hover {
            background-color: #cacdce !important;
        }
    }
}